{% extends 'header.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/loan.css' %}">
    <h4>Mekenet Saving and Credit form</h4>
    <div class="form-style-2">
    <form action="{% url 'create_saving' %}" method="POST">
        {% csrf_token %}
        <div class="profile_area">
        {% for field in form %}
        <label for="field1"><span>{{ field.label }} <span class="required">*</span></span>
            {{ field }}
        </label>
        {% endfor %}
        <input type="submit" value="Submit">
        </div>
    </form>
    </div>
{% endblock %}