{% extends 'header.html' %}

{% block content%}
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/loan.css' %}">
    <div class="form-style-2">
        <div class="form-style-2-heading">Search a user</div>
        <form action="{% url 'user_profile' %}" method="GET">
            <div class="profile_area">
            <label for="field1"><span>Username <span class="required">*</span></span>
                <input type="text" class="input-field" name="username" value="" />

                <input type="submit" value="Search" />
            </label>
            </div>
        </form>
    </div>
{% endblock%}