{% extends 'header.html' %}

{% block content%}
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/loan.css' %}">
    <div class="form-style-2">
        <div class="form-style-2-heading">Uer creation form</div>
        <form action="{% url 'customers' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <label for="field1"><span>{{field.label}}</label>{{field}}
                <br />
            {% endfor %}
            <br><label><span> </span><input type="submit" value="Register" /></label>
        </form>
    </div>
{% endblock%}